.container{
    height:700px;
    width: 100%;
    margin: 0 auto;
}
.flexContainer{
    width: 100%;
    min-width: 1500px;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: flex-start;
    gap: 200px;
}
.flexItem1{
    margin-top: 40px;
    max-width: 40%;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap:50px;
    position: relative;
    
}
.text1{
    font-family: 'Pobeda';
    font-size: 70px;
    margin: 0;
}
.text2{
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
}
.flexItem2{
    margin-right: 50px;
    width:600px;
    height: 550px;
    background-color: #fff;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    border: 3px solid #2CACE2;
    position: relative;
    
}
.item1{
    display: flex;
    justify-content: center;
    align-items:flex-end;
    flex-direction: column;
    gap: 40px;
}
.b1{
    border-color: transparent;
    background-color: #2CACE2;
    color: #fff;
    font-weight: bold;
    width: 150px;
}
input{
    border: 3px solid #2CACE2;
    width: 330px;
    height: 60px;
    padding: 4px 20px;
    border-radius: 15px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    color: #41143E;
    transition: border-color 0.5s ease-in-out;
    outline: none;
}
input:focus{
    border-color: #2CACE2;;
}
select{
    border: 3px solid #2CACE2;
    width: 375px;
    height: 70px;
    padding: 4px 0px 4px 20px;
    border-radius: 15px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    color: #41143E;
    transition: border-color 0.5s ease-in-out;
    outline: none;
    appearance: none;

    cursor: pointer; 
}

.selectWrapper{
    position: relative;
}
.selectWrapper::before{
    background-image: url(/public/arrowselect.png);
    background-repeat: no-repeat;
    background-size: cover;
    content: '';
    position: absolute;
    top: 50%;
    right: 30px;
    width: 18px;
    height: 11px;
    transform: translateY(-50%);
    pointer-events: none;
    cursor: pointer;
}
.b1:hover{
    border-color: #fff;
}
.flexItemBack{
    width:600px;
    height: 550px;
    background-color: #2CACE2;
    border-radius: 25px;
    border: 2px solid #2CACE2;
    position: absolute;
    z-index: -1;
    top:-30px;
    left:30px;
}
.arrowblue{
    width: 217px;
    height:217px;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top:90%;
    left:80%;
}