@font-face {
  font-family: 'Pobeda';
  src: url('../src/assets/fonts/Pobeda-Bold.woff2') format('woff2'),
      url('../src/assets/fonts/Pobeda-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Helvetica';
  src: url('../src/assets/fonts/helvetica/Helvetica-Regular.woff2') format('woff2'),
      url('../src/assets/fonts/helvetica/Helvetica-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica';
  src: url('../src/assets/fonts/helvetica/Helvetica-Bold.woff2') format('woff2'),
      url('../src/assets/fonts/helvetica/Helvetica-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
body{
  background-color: #F5F5F5;
}

