.containerstyles{
    padding-top: 80px;
    padding-bottom: 80px;
    width: 84%;
    padding-left: 8%;
    padding-right: 8%;
    height:720px;
    margin: 0 auto;
}
.sliderStyle{
    height: 100%;
    position: relative;
}
.slideStyle{
    width: 100%;
    height:100%;
    border-radius: 20px;
    background-position: center;
    background-size: cover;
    
}
.text1{
    position: absolute;
    top:10%;
    left: 7%;
    font-family: 'Pobeda';
    font-size: 100px;
    color: white;
    text-decoration: none;
    user-select: none;
}
.text2{
    position: absolute;
    top:75%;
    left:8%;
    font-family: 'Ubuntu', sans-serif;
    font-size: 34px;
    color: white;
    text-decoration: underline;
    cursor: pointer;
    user-select: none;
}
.dotsContainer{
    position: absolute;
    top:85%;
    right:5%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap:13px;
    
}
input{
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: color 1s  ease;
}
.dotsStyle{
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 20px;
    transition: color 0.1s  ease;
    user-select: none;
}
